iframe[src$=".pdf"] {
    width: 100%;
    height: 80vh;
}

.content h1 {
    border-left: 10px solid var(--fg);
    border-bottom: 1px solid var(--fg);
    padding-left: 10px;
    margin-top: 2.5em;
}

.content h2 {
    border-bottom: 1px solid var(--fg);
    margin-top: 1.0em;
}


/* line number for code block */

pre {
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
}

pre .hljs:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.0em;
    padding-top: 0.5em;
    display: block;
    text-align: right;
    content: "1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A";
    padding-right: 0.5em;
    border-right: 1px solid;
    white-space: pre;
    background-color: var(--quote-bg);
}

pre .hljs:after {
    content: ' ';
    display: block;
    background-color: var(--quote-bg);
    height: 0.5em;
    width: 2.0em;
    position: absolute;
    left: 0;
    bottom: 0;
}

pre .hljs {
    padding-left: 3.0em;
}